Repository activepieces/activepieces, pull requests merged in 2023-07, with the labels that each got.

#1560 feat: support ^ to load latest major version for piece
  docs/developers/piece-reference/piece-versioning.mdx
  docs/mint.json
  packages/backend/src/app/pieces/piece-metadata-service/db-piece-metadata-service.ts
  packages/shared/package.json
  packages/shared/src/lib/common/utils/index.ts
  packages/shared/src/lib/common/utils/semVer.ts
  packages/shared/src/lib/flows/actions/action.ts
  packages/shared/src/lib/flows/triggers/trigger.ts
  packages/shared/src/lib/pieces/dto/piece-requests.ts
Labels: help wanted

#1676 feat: validate connections
  docs/developers/piece-reference/authentication.mdx
  docs/pieces/custom-pieces.mdx
  packages/backend/src/app/app-connection/app-connection.service.ts
  packages/backend/src/app/helper/engine-helper.ts
  packages/engine/src/lib/helper/action-helper.ts
  packages/engine/src/main.ts
  packages/pieces/framework/package.json
  packages/pieces/framework/src/lib/piece.ts
  packages/pieces/framework/src/lib/property/base-prop.ts
  packages/pieces/framework/src/lib/property/basic-auth-prop.ts
  packages/pieces/framework/src/lib/property/custom-auth-prop.ts
  packages/pieces/framework/src/lib/property/oauth2-prop.ts
  packages/pieces/framework/src/lib/property/property.ts
  packages/shared/package.json
  packages/shared/src/lib/common/activepieces-error.ts
  packages/shared/src/lib/engine/engine-operation.ts
  packages/ui/feature-connections/src/lib/dialogs/basic-auth-connection-dialog/basic-auth-connection-dialog.component.html
  packages/ui/feature-connections/src/lib/dialogs/basic-auth-connection-dialog/basic-auth-connection-dialog.component.ts
  packages/ui/feature-connections/src/lib/dialogs/custom-auth-connection-dialog/custom-auth-connection-dialog.component.html
  packages/ui/feature-connections/src/lib/dialogs/custom-auth-connection-dialog/custom-auth-connection-dialog.component.ts
  packages/ui/feature-connections/src/lib/dialogs/secret-text-connection-dialog/secret-text-connection-dialog.component.html
  packages/ui/feature-connections/src/lib/dialogs/secret-text-connection-dialog/secret-text-connection-dialog.component.ts
Labels: ⭐ enhancement, backend

#1708 refactor(backend): make a customisable preUpsertHook for connection service
  packages/backend/.eslintrc.json
  packages/backend/src/app/app-connection/app-connection-service/app-connection-service.ts
  packages/backend/src/app/app-connection/app-connection-service/index.ts
  packages/backend/src/app/app-connection/app-connection.controller.ts
Labels: backend, 💻 tech debt

#1775 fix: webpack config and bugs caused by wrong config
  packages/backend/src/app/helper/engine-helper.ts
  packages/backend/src/app/workers/flow-worker/queues/queue.ts
  packages/backend/src/main.ts
  packages/backend/webpack.config.js
Labels: 🐛 bug, backend

#1785 fix: revert processors and validators pr
  packages/engine/package.json
  packages/engine/src/lib/action/piece-action-handler.ts
  packages/engine/src/lib/helper/action-helper.ts
  packages/engine/src/lib/helper/trigger-helper.ts
  packages/engine/src/lib/services/variable-service.ts
  packages/engine/test/services/variable-service.test.ts
  packages/pieces/framework/package.json
  packages/pieces/framework/src/lib/index.ts
  packages/pieces/framework/src/lib/processors/processors.ts
  packages/pieces/framework/src/lib/processors/types.ts
  packages/pieces/framework/src/lib/property/base-prop.ts
  packages/pieces/framework/src/lib/property/basic-auth-prop.ts
  packages/pieces/framework/src/lib/property/custom-auth-prop.ts
  packages/pieces/framework/src/lib/property/dropdown-prop.ts
  packages/pieces/framework/src/lib/property/dynamic-prop.ts
  packages/pieces/framework/src/lib/property/oauth2-prop.ts
  packages/pieces/framework/src/lib/property/property.ts
  packages/pieces/framework/src/lib/validators/errors.ts
  packages/pieces/framework/src/lib/validators/types.ts
  packages/pieces/framework/src/lib/validators/utils.ts
  packages/pieces/framework/src/lib/validators/validators.ts
Labels: 🐛 bug

#1786 chore: release pieces framework v0.6.6
  packages/pieces/framework/package.json
Labels: 🐛 bug

#1787 feat: test branch step
  package.json
  packages/backend/src/app/flows/step-run/step-run-service.ts
  packages/backend/src/app/workers/flow-worker/flow-queue-consumer.ts
  packages/backend/src/app/workers/flow-worker/flow-worker.ts
  packages/engine/src/lib/action/piece-action-handler.ts
  packages/engine/src/lib/globals.ts
  packages/engine/src/lib/helper/action-helper.ts
  packages/engine/src/main.ts
  packages/shared/package.json
  packages/shared/src/lib/engine/engine-operation.ts
  packages/shared/src/lib/flows/actions/action.ts
  packages/shared/test/flow/flow-helper.test.ts
  packages/ui/feature-builder-right-sidebar/src/lib/flow-right-sidebar.component.html
  packages/ui/feature-builder-right-sidebar/src/lib/input-forms/branch-step-input-form/branch-step-input-form.component.ts
  packages/ui/feature-builder-right-sidebar/src/lib/step-type-sidebar/step-type-list/utils.ts
  packages/ui/feature-builder-right-sidebar/src/lib/step-type-sidebar/step-type-sidebar.component.ts
  packages/ui/feature-builder-store/src/lib/store/builder/builder.selector.ts
  packages/ui/feature-builder-test-steps/src/lib/test-piece-step/test-piece-step.component.ts
Labels: ⭐ enhancement, backend, frontend, engine
