Repository activepieces/activepieces, pull requests merged in 2023-06, with the labels that each got.

#1400 chore: update piece metadata script
  .github/workflows/release-pieces.yml
  packages/backend/src/app/helper/error-handler.ts
  packages/backend/src/app/pieces/piece-metadata-service/cloud-piece-metadata-service.ts
  packages/backend/src/app/pieces/pieces.controller.ts
  packages/pieces/common/package.json
  packages/pieces/common/src/lib/http/core/http-header.ts
  packages/ui/common/src/lib/service/action-meta.service.ts
  tools/scripts/migrate-piece-metadata-to-cloud/index.ts
  tools/scripts/update-pieces-metadata/generate-metadata.ts
  tools/scripts/update-pieces-metadata/insert-metadata.ts
  tools/scripts/update-pieces-metadata/main.ts
  tools/scripts/update-pieces-metadata/upload-metadata.ts
Labels: backend, 💻 tech debt

#1432 chore: setup integration testing
  .gitignore
  docker-compose.test.yml
  packages/backend/.test.env
  packages/backend/project.json
  packages/backend/src/app/app.ts
  packages/backend/src/main.ts
  packages/backend/test/integration/piece/piece-metadata.test.ts
  packages/backend/test/unit/flows/flow-version/flow-version.service.test.ts
  packages/backend/tsconfig.spec.json
Labels: backend

#1409 feat: support native development and remove docker dev
  docker-compose.dev.yml
  docs/contributing/building-pieces/create-action.mdx
  docs/contributing/building-pieces/reference.mdx
  docs/contributing/development-setup/dev-container.mdx
  docs/contributing/development-setup/docker-compose.mdx
  docs/contributing/development-setup/local.mdx
  docs/contributing/getting-started.mdx
  docs/mint.json
  package-lock.json
  package.json
  packages/backend/.env
  packages/backend/project.json
  packages/backend/src/app/flags/flag.service.ts
  packages/backend/src/app/flows/common/piece-installer.ts
  packages/backend/src/app/helper/engine-helper.ts
  packages/backend/src/app/helper/package-manager.ts
  packages/backend/src/app/pieces/piece-metadata-service/file-piece-metadata-service.ts
  packages/ui/feature-builder-store/src/lib/store/builder/flow-item-details/flow-items-details.effects.ts
  tools/scripts/generate-new-piece.ts
  tools/setup-dev.js
  turbowatch.ts
Labels: dev-experience
