Repository activepieces/activepieces, pull requests merged in 2023-09, with the labels that each got.

#2336 feat(stripe): add create customer / create an invoice / search for a customer by email actions
  packages/pieces/stripe/package.json
  packages/pieces/stripe/src/index.ts
  packages/pieces/stripe/src/lib/actions/create-customer.ts
  packages/pieces/stripe/src/lib/actions/create-invoice.ts
  packages/pieces/stripe/src/lib/actions/search-customer.ts
Labels: question

#2593 refactor: code caching
  packages/backend/src/app/workers/flow-worker/flow-worker.ts
  packages/backend/src/app/workers/sandbox/cache/cached-sandbox.ts
  packages/backend/src/app/workers/sandbox/isolate-sandbox.ts
  packages/backend/src/app/workers/sandbox/provisioner/sandbox-provisioner.ts
Labels: backend, 💻 tech debt

#2629 chore: fix floating promises
  packages/backend/.eslintrc.json
  packages/backend/src/app/app-connection/app-connection.module.ts
  packages/backend/src/app/app-event-routing/app-event-routing.module.ts
  packages/backend/src/app/app.ts
  packages/backend/src/app/authentication/authentication.controller.ts
  packages/backend/src/app/authentication/authentication.module.ts
  packages/backend/src/app/authentication/authentication.service.ts
  packages/backend/src/app/file/file.controller.ts
  packages/backend/src/app/file/file.module.ts
  packages/backend/src/app/flags/flag.module.ts
  packages/backend/src/app/flows/flow-instance/flow-instance.module.ts
  packages/backend/src/app/flows/flow-run/flow-run-service.ts
  packages/backend/src/app/flows/flow.module.ts
  packages/backend/src/app/flows/flow/flow.controller.ts
  packages/backend/src/app/flows/flow/flow.service.ts
  packages/backend/src/app/flows/folder/folder.controller.ts
  packages/backend/src/app/flows/step-file/step-file.module.ts
  packages/backend/src/app/flows/trigger-events/trigger-event.module.ts
  packages/backend/src/app/helper/openapi/openapi.module.ts
  packages/backend/src/app/helper/system/system.ts
  packages/backend/src/app/helper/telemetry.utils.ts
  packages/backend/src/app/pieces/piece-module.ts
  packages/backend/src/app/project/project.module.ts
  packages/backend/src/app/store-entry/store-entry.controller.ts
  packages/backend/src/app/store-entry/store-entry.module.ts
  packages/backend/src/app/webhooks/webhook-controller.ts
  packages/backend/src/app/webhooks/webhook-service.ts
  packages/backend/src/app/workers/flow-worker/flow-queue-consumer.ts
  packages/backend/src/app/workers/flow-worker/queues/memory/memory-consumer.ts
  packages/backend/src/app/workers/flow-worker/queues/memory/memory-queue.ts
  packages/backend/src/main.ts
Labels: backend, 💻 tech debt

#2667 fix: log truncation
  packages/backend/.env
  packages/backend/src/app/database/migration/postgres/1694691554696-file-type-compression.ts
  packages/backend/src/app/database/migration/sqllite3/1694695212159-file-type-compression.ts
  packages/backend/src/app/database/postgres-connection.ts
  packages/backend/src/app/database/sqllite-connection.ts
  packages/backend/src/app/file/file.entity.ts
  packages/backend/src/app/file/file.service.ts
  packages/backend/src/app/file/utils/file-compressor.ts
  packages/backend/src/app/flows/common/log-serializer.ts
  packages/backend/src/app/flows/flow-version/flow-version.service.ts
  packages/backend/src/app/workers/flow-worker/flow-worker.ts
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/lib/file/file-compression.ts
  packages/shared/src/lib/file/file-type.ts
  packages/shared/src/lib/file/file.ts
  packages/shared/src/lib/file/index.ts
Labels: 🐛 bug, ⭐ enhancement, backend, 💻 tech debt

#2758 fix: for loop truncation
  packages/engine/src/lib/helper/logging-utils.ts
  packages/engine/src/lib/services/files.service.ts
  packages/engine/src/main.ts
  packages/engine/test/helper/logging-utils.test.ts
Labels: 🐛 bug, engine

#2761 chore: pin exact versions of deps
  .npmrc
  package-lock.json
  package.json
Labels: 💻 tech debt

#2245 feat(localai): send prompt action
  packages/pieces/localai/.babelrc
  packages/pieces/localai/.eslintrc.json
  packages/pieces/localai/README.md
  packages/pieces/localai/package.json
  packages/pieces/localai/project.json
  packages/pieces/localai/src/index.ts
  packages/pieces/localai/src/lib/actions/send-prompt.ts
  packages/pieces/localai/tsconfig.json
  packages/pieces/localai/tsconfig.lib.json
  tools/deploy.sh
  tools/update.sh
Labels: question
