Repository activepieces/activepieces, pull requests merged in 2023-12, with the labels that each got.

#3329 feat: add client credentials oauth2
  docs/developers/piece-reference/authentication.mdx
  packages/backend/src/app/app-connection/app-connection-service/app-connection-service.ts
  packages/backend/src/app/app-connection/app-connection-service/oauth2/oauth2-service.ts
  packages/backend/src/app/app-connection/app-connection-service/oauth2/oauth2-util.ts
  packages/backend/src/app/app-connection/app-connection-service/oauth2/services/credentials-oauth2-service.ts
  packages/ee/product-embed/product-sdk/src/app/enable-integration-modal/enable-integration-modal.component.ts
  packages/ee/shared/src/lib/product-embed/app-credentials/app-credentials.ts
  packages/pieces/framework/package.json
  packages/pieces/framework/src/lib/property/oauth2-prop.ts
  packages/shared/package.json
  packages/shared/src/lib/app-connection/app-connection.ts
  packages/shared/src/lib/app-connection/dto/upsert-app-connection-request.ts
  packages/shared/src/lib/common/utils/assertions.ts
  packages/ui/feature-connections/src/lib/dialogs/oauth2-connection-dialog/oauth2-connection-dialog.component.html
  packages/ui/feature-connections/src/lib/dialogs/oauth2-connection-dialog/oauth2-connection-dialog.component.ts
Labels: piece-framework

#3381 fix: send referring user id with sign up request
  packages/ui/feature-authentication/src/lib/pages/sign-up/sign-up.component.ts
Labels: 🐛 bug

#3385 release: 0.15.0-rc2
  .github/workflows/release-rc.yml
Labels: release

#3387 chore: release 0.15.0-rc.2
  .github/workflows/release-changelog.yml
  .github/workflows/release-rc.yml
Labels: release

#3390 refactor: authorization cleanup for unauthenticated endpoints
  packages/backend/src/app/app-event-routing/app-event-routing.module.ts
  packages/backend/src/app/authentication/authentication.controller.ts
  packages/backend/src/app/authentication/authorization-middleware.ts
  packages/backend/src/app/ee/app-credentials/app-credentials.module.ts
  packages/backend/src/app/ee/appsumo/appsumo.module.ts
  packages/backend/src/app/ee/authentication/enterprise-local-authn/enterprise-local-authn-controller.ts
  packages/backend/src/app/ee/authentication/federated-authn/federated-authn-controller.ts
  packages/backend/src/app/ee/billing/billing/billing.module.ts
  packages/backend/src/app/ee/connection-keys/connection-key.module.ts
  packages/backend/src/app/ee/flow-template/flow-template.module.ts
  packages/backend/src/app/ee/managed-authn/managed-authn-controller.ts
  packages/backend/src/app/ee/otp/otp-controller.ts
  packages/backend/src/app/ee/project-members/project-member.controller.ts
  packages/backend/src/app/flags/flag.module.ts
  packages/backend/src/app/flows/flow-run/flow-run-controller.ts
  packages/backend/src/app/pieces/base-piece-module.ts
  packages/backend/src/app/webhooks/webhook-controller.ts
  packages/backend/src/app/webhooks/webhook-simulation/webhook-simulation-controller.ts
  packages/backend/src/app/webhooks/webhook-simulation/webhook-simulation-dto.ts
  packages/shared/src/lib/authentication/model/principal-type.ts
Labels: 💻 tech debt, 🧹 clean up

#3400 fix: switching projects
  packages/backend/src/app/authentication/authorization-middleware.ts
  packages/backend/src/app/ee/authentication/authentication-service/hooks/enterprise-authentication-service-hooks.ts
Labels: 🐛 bug, backend

#3395 feat: improve the loading time of dropdowns with 1000+ options and prevent browser crashing
  packages/ui/common/src/lib/ui-common.module.ts
  packages/ui/core/src/assets/scss/ng-material-override.scss
  packages/ui/feature-builder-form-controls/src/lib/piece-properties-form/dropdown-initial-value.pipe.ts
  packages/ui/feature-builder-form-controls/src/lib/piece-properties-form/dropdown-search.pipe.ts
  packages/ui/feature-builder-form-controls/src/lib/piece-properties-form/is-selected.pipe.ts
  packages/ui/feature-builder-form-controls/src/lib/piece-properties-form/piece-properties-form.component.html
  packages/ui/feature-builder-form-controls/src/lib/piece-properties-form/piece-properties-form.component.ts
  packages/ui/feature-builder-form-controls/src/lib/ui-feature-builder-form-controls.module.ts
  packages/ui/feature-builder-right-sidebar/src/lib/ui-feature-builder-right-sidebar.module.ts
Labels: ⭐ enhancement

#3392 fix(openai): support fine-tuned model by approximate tokens length
  packages/pieces/openai/package.json
  packages/pieces/openai/src/lib/common/common.ts
Labels: 🐛 bug, 🔌 pieces

#3399 refactor: platform owner should check jwt role
  packages/backend/src/app/authentication/authorization-middleware.ts
  packages/backend/src/app/ee/api-keys/api-key-service.ts
  packages/backend/src/app/ee/authentication/authentication-service/hooks/authentication-helper.ts
  packages/backend/src/app/ee/authentication/ee-authorization.ts
  packages/backend/src/app/ee/managed-authn/managed-authn-service.ts
  packages/backend/src/app/ee/oauth-apps/oauth-app.service.ts
  packages/backend/src/app/ee/project-members/project-member.service.ts
  packages/backend/src/app/ee/projects/platform-user-project-controller.ts
  packages/backend/src/app/ee/signing-key/signing-key-service.ts
  packages/backend/test/integration/cloud/api-key/api-key.test.ts
  packages/backend/test/integration/cloud/custom-domain/custom-domain.test.ts
  packages/backend/test/integration/cloud/oauth-app/oauth-app.test.ts
  packages/backend/test/integration/cloud/piece-metadata/piece-metadata.test.ts
  packages/backend/test/integration/cloud/platform/platform.test.ts
  packages/backend/test/integration/cloud/project-members/project-members.test.ts
  packages/backend/test/integration/cloud/project/project.test.ts
  packages/backend/test/integration/cloud/signing-key/signing-key.test.ts
  packages/shared/package.json
  packages/shared/src/lib/authentication/model/principal-type.ts
  packages/shared/src/lib/authentication/model/principal.ts
Labels: 💻 tech debt, 🧹 clean up

#3402 feat: release 0.15.0-rc.3
  .github/workflows/release-changelog.yml
  package.json
Labels: release

#3397 feat(Mastodon): add media file property to post status action
  packages/pieces/mastodon/package.json
  packages/pieces/mastodon/src/lib/actions/post-status.ts
Labels: 🔌 pieces

#3407 chore: bump version
  package.json
Labels: release

#3408 fix: correct date for chatbots deprecation
  packages/ui/feature-chatbot/src/lib/chatbots-table/chatbots-table.component.html
Labels: 🐛 bug

#3409 fix: better explanation for the Activepieces' OAuth2 apps toggle in platform pieces table
  packages/ee/ui-platform/src/lib/pages/pieces-table/pieces-table.component.html
Labels: 🐛 bug

#3403 refactor: move app webhooks secrets to environent variable
  packages/backend/src/app/helper/secret-helper.ts
  packages/backend/src/app/helper/system/system-prop.ts
Labels: 💻 tech debt, 🧹 clean up

#3396 feat: viewable link for files when testing steps
  docs/install/configurations/environment-variables.mdx
  packages/backend/src/app/app.ts
  packages/backend/src/app/authentication/lib/access-token-manager.ts
  packages/backend/src/app/ee/helper/email/email-service.ts
  packages/backend/src/app/ee/helper/platform-domain-helper.ts
  packages/backend/src/app/ee/project-members/project-member.service.ts
  packages/backend/src/app/flows/step-file/step-file.module.ts
  packages/backend/src/app/flows/step-file/step-file.service.ts
  packages/backend/src/app/helper/domain-helper.ts
  packages/backend/src/app/helper/jwt-utils.ts
  packages/backend/src/app/store-entry/store-entry.controller.ts
  packages/engine/package.json
  packages/engine/src/lib/services/files.service.ts
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/lib/flows/step-file/step-file.ts
Labels: backend, 🌟 feature

#3394 feat(languages): Increased coverage - Japanese 100%, Dutch 100%, Simplified Chinese 18%
  packages/ui/core/src/locale/messages.ja.xlf
  packages/ui/core/src/locale/messages.nl.xlf
  packages/ui/core/src/locale/messages.zh.xlf
Labels: 🌟 feature

#3413 chore: bump to 0.15.0-rc.5
  package.json
Labels: release

#3414 feat: release 015.0-rc.5
  packages/backend/src/app/ee/helper/platform-domain-helper.ts
  packages/backend/src/app/flows/step-file/step-file.service.ts
  packages/backend/src/app/helper/domain-helper.ts
  packages/engine/src/lib/helper/logging-utils.ts
  packages/shared/package.json
  packages/shared/src/lib/flow-run/execution/execution-state.ts
Labels: release

#3415 fix: engine lint issue
  packages/engine/src/lib/helper/logging-utils.ts
Labels: release

#3416 fix: await api domain
  packages/backend/src/app/ee/helper/platform-domain-helper.ts
Labels: release

#3378 feat(totalcms): 13 actions, and new blog post trigger
  packages/pieces/totalcms/.eslintrc.json
  packages/pieces/totalcms/README.md
  packages/pieces/totalcms/package.json
  packages/pieces/totalcms/project.json
  packages/pieces/totalcms/src/index.ts
  packages/pieces/totalcms/src/lib/actions/get-blog-post.ts
  packages/pieces/totalcms/src/lib/actions/get-content.ts
  packages/pieces/totalcms/src/lib/actions/save-blog-gallery.ts
  packages/pieces/totalcms/src/lib/actions/save-blog-image.ts
  packages/pieces/totalcms/src/lib/actions/save-blog-post.ts
  packages/pieces/totalcms/src/lib/actions/save-date.ts
  packages/pieces/totalcms/src/lib/actions/save-depot.ts
  packages/pieces/totalcms/src/lib/actions/save-file.ts
  packages/pieces/totalcms/src/lib/actions/save-gallery.ts
  packages/pieces/totalcms/src/lib/actions/save-image.ts
  packages/pieces/totalcms/src/lib/actions/save-text.ts
  packages/pieces/totalcms/src/lib/actions/save-toggle.ts
  packages/pieces/totalcms/src/lib/actions/save-video.ts
  packages/pieces/totalcms/src/lib/api.ts
  packages/pieces/totalcms/src/lib/auth.ts
  packages/pieces/totalcms/src/lib/triggers/new-blog-post.ts
  packages/pieces/totalcms/tsconfig.json
  packages/pieces/totalcms/tsconfig.lib.json
  tsconfig.base.json
Labels: 🔌 pieces

#3367 feat(clearout): instant verify action
  packages/pieces/clearout/.eslintrc.json
  packages/pieces/clearout/README.md
  packages/pieces/clearout/package.json
  packages/pieces/clearout/project.json
  packages/pieces/clearout/src/index.ts
  packages/pieces/clearout/src/lib/actions/instant-verify.ts
  packages/pieces/clearout/src/lib/api.ts
  packages/pieces/clearout/src/lib/auth.ts
  packages/pieces/clearout/tsconfig.json
  packages/pieces/clearout/tsconfig.lib.json
  tsconfig.base.json
Labels: 🔌 pieces

#3366 feat(bonjoro): create a greet action
  packages/pieces/bonjoro/.eslintrc.json
  packages/pieces/bonjoro/README.md
  packages/pieces/bonjoro/package.json
  packages/pieces/bonjoro/project.json
  packages/pieces/bonjoro/src/index.ts
  packages/pieces/bonjoro/src/lib/actions/add-greet.ts
  packages/pieces/bonjoro/src/lib/api.ts
  packages/pieces/bonjoro/src/lib/auth.ts
  packages/pieces/bonjoro/src/lib/props.ts
  packages/pieces/bonjoro/tsconfig.json
  packages/pieces/bonjoro/tsconfig.lib.json
  tsconfig.base.json
Labels: 🔌 pieces

#3364 feat(matomo): add annotation action
  packages/pieces/matomo/.eslintrc.json
  packages/pieces/matomo/README.md
  packages/pieces/matomo/package.json
  packages/pieces/matomo/project.json
  packages/pieces/matomo/src/index.ts
  packages/pieces/matomo/src/lib/actions/add-annotation.ts
  packages/pieces/matomo/src/lib/api.ts
  packages/pieces/matomo/src/lib/auth.ts
  packages/pieces/matomo/tsconfig.json
  packages/pieces/matomo/tsconfig.lib.json
  tsconfig.base.json
Labels: 🔌 pieces

#3347 feat(cartloom): create discount, get discount, discounts, order, orders date email, orders date, products actions
  packages/pieces/cartloom/.eslintrc.json
  packages/pieces/cartloom/README.md
  packages/pieces/cartloom/package.json
  packages/pieces/cartloom/project.json
  packages/pieces/cartloom/src/index.ts
  packages/pieces/cartloom/src/lib/actions/create-discount.ts
  packages/pieces/cartloom/src/lib/actions/get-discount.ts
  packages/pieces/cartloom/src/lib/actions/get-discounts.ts
  packages/pieces/cartloom/src/lib/actions/get-order.ts
  packages/pieces/cartloom/src/lib/actions/get-orders-date-email.ts
  packages/pieces/cartloom/src/lib/actions/get-orders-date.ts
  packages/pieces/cartloom/src/lib/actions/get-products.ts
  packages/pieces/cartloom/src/lib/api.ts
  packages/pieces/cartloom/src/lib/auth.ts
  packages/pieces/cartloom/src/lib/props.ts
  packages/pieces/cartloom/tsconfig.json
  packages/pieces/cartloom/tsconfig.lib.json
  tsconfig.base.json
Labels: 🔌 pieces

#3343 feat(retable): create record, project, workspace triggers, get all workspaces, get all projects, get all retables actions
  packages/pieces/retable/.eslintrc.json
  packages/pieces/retable/README.md
  packages/pieces/retable/package.json
  packages/pieces/retable/project.json
  packages/pieces/retable/src/index.ts
  packages/pieces/retable/src/lib/actions/create-project.ts
  packages/pieces/retable/src/lib/actions/create-workspace.ts
  packages/pieces/retable/src/lib/actions/get-all-projects.ts
  packages/pieces/retable/src/lib/actions/get-all-retables.ts
  packages/pieces/retable/src/lib/actions/get-all-workspaces.ts
  packages/pieces/retable/src/lib/actions/insert-record.ts
  packages/pieces/retable/src/lib/common/index.ts
  packages/pieces/retable/src/lib/common/models.ts
  packages/pieces/retable/tsconfig.json
  packages/pieces/retable/tsconfig.lib.json
  tsconfig.base.json
Labels: 🔌 pieces

#3314 feat(bettermode): assign badge, revoke badge, create discussion, create question actions
  packages/pieces/bettermode/.eslintrc.json
  packages/pieces/bettermode/README.md
  packages/pieces/bettermode/package.json
  packages/pieces/bettermode/project.json
  packages/pieces/bettermode/src/index.ts
  packages/pieces/bettermode/src/lib/actions/assign-badge.ts
  packages/pieces/bettermode/src/lib/actions/create-discussion.ts
  packages/pieces/bettermode/src/lib/actions/create-question.ts
  packages/pieces/bettermode/src/lib/actions/revoke-badge.ts
  packages/pieces/bettermode/src/lib/api.ts
  packages/pieces/bettermode/src/lib/auth.ts
  packages/pieces/bettermode/src/lib/props.ts
  packages/pieces/bettermode/tsconfig.json
  packages/pieces/bettermode/tsconfig.lib.json
  tsconfig.base.json
Labels: 🔌 pieces

#3315 feat(datehelper): get next day of week and get next day of year actions
  packages/pieces/date-helper/package.json
  packages/pieces/date-helper/src/index.ts
  packages/pieces/date-helper/src/lib/actions/next-day-of-week.ts
  packages/pieces/date-helper/src/lib/actions/next-day-of-year.ts
Labels: 🔌 pieces

#3421 fix: show delete flow within builder in flow actions list and hide the list when showing runs
  packages/ui/feature-builder-header/src/lib/flow-builder-header.component.html
Labels: 🐛 bug

#3425 fix: corrects aspect ratio for home button to be 1:1
  packages/ui/feature-dashboard/src/lib/components/sidenav-routes-list/sidenav-routes-list.component.html
Labels: 🐛 bug

#3424 fix: some dropdowns don't show the selected value for step inputs
  packages/ui/feature-builder-form-controls/src/lib/piece-properties-form/dropdown-initial-value.pipe.ts
Labels: 🐛 bug

#3430 fix: remove package.json lint from new piece project.json
  tools/scripts/generate-new-piece.ts
  tools/scripts/utils/files.ts
Labels: 🐛 bug, 💻 tech debt

#3431 feat: listen to webhook sync response realtime instead of polling
  packages/backend/src/app/app.ts
  packages/backend/src/app/flows/flow-run/flow-response-watcher.ts
  packages/backend/src/app/flows/flow-run/flow-run-module.ts
  packages/backend/src/app/flows/flow-run/flow-run-service.ts
  packages/backend/src/app/flows/flow-run/flow-run-side-effects.ts
  packages/backend/src/app/flows/flow-version/flow-version.service.ts
  packages/backend/src/app/helper/pubsub/index.ts
  packages/backend/src/app/helper/pubsub/memory-pubsub.ts
  packages/backend/src/app/helper/pubsub/redis-pubsub.ts
  packages/backend/src/app/webhooks/webhook-controller.ts
  packages/backend/src/app/webhooks/webhook-service.ts
  packages/backend/src/app/workers/flow-worker/flow-worker.ts
  packages/backend/src/app/workers/flow-worker/job-data.ts
Labels: 🌟 feature

#3427 feat: ability to test loop step
  packages/backend/src/app/flows/step-run/step-run-service.ts
  packages/backend/src/app/helper/engine-helper.ts
  packages/engine/src/lib/handler/context/engine-constants-data.ts
  packages/engine/src/lib/handler/flow-executor.ts
  packages/engine/src/lib/handler/loop-executor.ts
  packages/engine/src/main.ts
  packages/engine/test/handler/test-helper.ts
  packages/shared/src/lib/engine/engine-operation.ts
  packages/shared/src/lib/flows/actions/action.ts
  packages/ui/feature-builder-right-sidebar/src/lib/edit-step-sidebar/edit-step-form-container/edit-step-form-container.component.html
  packages/ui/feature-builder-right-sidebar/src/lib/edit-step-sidebar/edit-step-form-container/edit-step-form-container.component.ts
  packages/ui/feature-builder-right-sidebar/src/lib/flow-right-sidebar.component.html
  packages/ui/feature-builder-right-sidebar/src/lib/input-forms/branch-step-input-form/branch-step-input-form.component.ts
  packages/ui/feature-builder-right-sidebar/src/lib/input-forms/input-forms-schema.ts
  packages/ui/feature-builder-right-sidebar/src/lib/input-forms/loop-step-input-form/loop-step-input-form.component.ts
  packages/ui/feature-builder-right-sidebar/src/lib/step-type-sidebar/step-type-sidebar.component.ts
  packages/ui/feature-builder-test-steps/src/index.ts
  packages/ui/feature-builder-test-steps/src/lib/test-action/test-action.component.html
  packages/ui/feature-builder-test-steps/src/lib/test-action/test-action.component.ts
  packages/ui/feature-builder-test-steps/src/lib/test-code-step/test-code-step.component.html
  packages/ui/feature-builder-test-steps/src/lib/test-code-step/test-code-step.component.ts
  packages/ui/feature-builder-test-steps/src/lib/test-piece-webhook-trigger/test-piece-webhook-trigger.component.ts
  packages/ui/feature-builder-test-steps/src/lib/test-webhook-trigger/test-webhook-trigger.component.ts
  packages/ui/feature-builder-test-steps/src/lib/ui-feature-builder-test-steps.module.ts
Labels: 🌟 feature

#3437 feat(google-gemini): generate content from image / generate content action
  packages/pieces/google-gemini/.eslintrc.json
  packages/pieces/google-gemini/README.md
  packages/pieces/google-gemini/package.json
  packages/pieces/google-gemini/project.json
  packages/pieces/google-gemini/src/index.ts
  packages/pieces/google-gemini/src/lib/actions/generate-content-from-image.action.ts
  packages/pieces/google-gemini/src/lib/actions/generate-content.action.ts
  packages/pieces/google-gemini/tsconfig.json
  packages/pieces/google-gemini/tsconfig.lib.json
  tsconfig.base.json
Labels: 🔌 pieces

#3440 feat(jira-cloud): create issue and search issues actions / new issue and updated issue triggers
  packages/pieces/jira-cloud/.eslintrc.json
  packages/pieces/jira-cloud/README.md
  packages/pieces/jira-cloud/package.json
  packages/pieces/jira-cloud/project.json
  packages/pieces/jira-cloud/src/auth.ts
  packages/pieces/jira-cloud/src/index.ts
  packages/pieces/jira-cloud/src/lib/actions/create-issue.ts
  packages/pieces/jira-cloud/src/lib/actions/search-issues.ts
  packages/pieces/jira-cloud/src/lib/common/index.ts
  packages/pieces/jira-cloud/src/lib/common/props.ts
  packages/pieces/jira-cloud/src/lib/triggers/new-issue.ts
  packages/pieces/jira-cloud/src/lib/triggers/updated-issue.ts
  packages/pieces/jira-cloud/tsconfig.json
  packages/pieces/jira-cloud/tsconfig.lib.json
  packages/ui/feature-builder-form-controls/package.json
  packages/ui/feature-builder-form-controls/src/lib/piece-properties-form/piece-properties-form.component.ts
  tsconfig.base.json
Labels: 🔌 pieces

#3442 feat(imap): add all mailboxes option for gmail users
  packages/pieces/imap/package.json
  packages/pieces/imap/src/lib/triggers/new-email.ts
Labels: 🔌 pieces

#3441 feat: ability to test loop step to fill sample data
  packages/shared/test/flow/flow-helper.test.ts
  packages/ui/feature-builder-form-controls/src/lib/interpolating-text-form-control/mentions-list/action-mention-item/action-mention-item.component.html
  packages/ui/feature-builder-form-controls/src/lib/interpolating-text-form-control/mentions-list/action-mention-item/action-mention-item.component.ts
  packages/ui/feature-builder-form-controls/src/lib/interpolating-text-form-control/mentions-list/loop-step-mention-item/loop-step-mention-item.component.html
  packages/ui/feature-builder-form-controls/src/lib/interpolating-text-form-control/mentions-list/loop-step-mention-item/loop-step-mention-item.component.ts
  packages/ui/feature-builder-form-controls/src/lib/interpolating-text-form-control/mentions-list/mentions-list.component.html
  packages/ui/feature-builder-form-controls/src/lib/interpolating-text-form-control/mentions-list/piece-step-mention-item/piece-step-mention-item.component.html
  packages/ui/feature-builder-form-controls/src/lib/interpolating-text-form-control/mentions-list/piece-step-mention-item/piece-step-mention-item.component.ts
  packages/ui/feature-builder-form-controls/src/lib/interpolating-text-form-control/mentions-list/step-mentions-tree/step-mentions-tree.component.html
  packages/ui/feature-builder-form-controls/src/lib/ui-feature-builder-form-controls.module.ts
  packages/ui/feature-builder-store/src/lib/store/builder/builder.selector.ts
  packages/ui/feature-builder-test-steps/src/lib/test-action/test-action.component.ts
Labels: 🌟 feature

#3389 feat: support app connections api
  .github/release-drafter.yml
  docs/endpoints/connections/delete.mdx
  docs/mint.json
  docs/openapi.json
  packages/backend/src/app/app-connection/app-connection.controller.ts
  packages/backend/src/app/authentication/authorization-middleware.ts
  packages/backend/src/app/ee/connection-keys/connection-key.service.ts
  packages/shared/package.json
  packages/shared/src/lib/app-connection/dto/read-app-connection-request.ts
  packages/shared/src/lib/app-connection/dto/upsert-app-connection-request.ts
  packages/ui/common/src/lib/resolvers/connections.resolver.ts
  packages/ui/common/src/lib/service/app-connections.service.ts
  packages/ui/feature-connections/src/lib/dialogs/basic-auth-connection-dialog/basic-auth-connection-dialog.component.ts
  packages/ui/feature-connections/src/lib/dialogs/custom-auth-connection-dialog/custom-auth-connection-dialog.component.ts
  packages/ui/feature-connections/src/lib/dialogs/managed-oauth2-connection-dialog/managed-oauth2-connection-dialog.component.ts
  packages/ui/feature-connections/src/lib/dialogs/oauth2-connection-dialog/oauth2-connection-dialog.component.ts
  packages/ui/feature-connections/src/lib/dialogs/secret-text-connection-dialog/secret-text-connection-dialog.component.ts
  packages/ui/feature-dashboard/src/lib/pages/connections-table/connections-table.component.ts
  packages/ui/feature-dashboard/src/lib/pages/connections-table/connections-table.datasource.ts
Labels: 🌟 feature, 🖥️ api

#3444 feat(google-gemini): add chat action
  packages/pieces/google-gemini/package.json
  packages/pieces/google-gemini/src/index.ts
  packages/pieces/google-gemini/src/lib/actions/chat-gemini.action.ts
Labels: 🔌 pieces

#3446 feat: new design for fullscreen code editor
  packages/ee/ui-platform/src/lib/components/dialogs/create-api-key-dialog/create-api-key-dialog.component.html
  packages/ee/ui-platform/src/lib/components/dialogs/create-signing-key-dialog/create-signing-key-dialog.component.html
  packages/ui/common/src/lib/components/hotspot/hotspot.component.scss
  packages/ui/common/src/lib/components/json-view/json-view.component.html
  packages/ui/common/src/lib/service/appearance.service.ts
  packages/ui/common/src/lib/service/flag.service.ts
  packages/ui/core/src/app/monaco-themes/ap-monaco-theme.ts
  packages/ui/core/src/assets/img/custom/copy.svg
  packages/ui/core/src/assets/scss/code-editors-override.scss
  packages/ui/core/src/assets/scss/ng-material-override.scss
  packages/ui/feature-builder-form-controls/src/lib/code-artifact-form-control/code-artifact-control-fullscreen/code-artifact-control-fullscreen.component.html
  packages/ui/feature-builder-form-controls/src/lib/code-artifact-form-control/code-artifact-control-fullscreen/code-artifact-control-fullscreen.component.scss
  packages/ui/feature-builder-form-controls/src/lib/code-artifact-form-control/code-artifact-control-fullscreen/code-artifact-control-fullscreen.component.ts
  packages/ui/feature-builder-form-controls/src/lib/code-artifact-form-control/code-artifact-form-control.component.css
  packages/ui/feature-builder-form-controls/src/lib/code-artifact-form-control/code-artifact-form-control.component.html
  packages/ui/feature-builder-form-controls/src/lib/code-artifact-form-control/code-artifact-form-control.component.ts
  packages/ui/feature-builder-right-sidebar/src/lib/edit-step-sidebar/edit-step-form-container/edit-step-form-container.component.html
  packages/ui/feature-chatbot/src/lib/chat/chat.component.html
  packages/ui/feature-flow-builder/src/lib/page/flow-builder/flow-builder.component.ts
Labels: frontend, 🌟 feature

#3447 feat(slack): added attachment field to send message action
  packages/pieces/slack/package.json
  packages/pieces/slack/src/index.ts
  packages/pieces/slack/src/lib/actions/send-message-action.ts
  packages/pieces/slack/src/lib/common/utils.ts
Labels: 🔌 pieces

#3452 feat(kizeo-forms): adds output format property to triggers
  packages/pieces/kizeo-forms/package.json
  packages/pieces/kizeo-forms/src/lib/trigger/event-on-data-deleted.ts
  packages/pieces/kizeo-forms/src/lib/trigger/event-on-data-finished.ts
  packages/pieces/kizeo-forms/src/lib/trigger/event-on-data-pushed.ts
  packages/pieces/kizeo-forms/src/lib/trigger/event-on-data-received.ts
  packages/pieces/kizeo-forms/src/lib/trigger/event-on-data-updated.ts
  packages/pieces/kizeo-forms/src/lib/trigger/event-on-data.trigger.ts
Labels: 🔌 pieces

#3454 fix: install piece in platform level is fixed
  packages/backend/src/app/file/file.service.ts
  packages/backend/src/app/flows/common/piece-manager/registry-piece-manager.ts
Labels: 🐛 bug

#3443 feat: initial users management api
  packages/backend/src/app/app.ts
  packages/backend/src/app/authentication/authorization-middleware.ts
  packages/backend/src/app/ee/user/enterprise-user-controller.ts
  packages/backend/src/app/ee/user/enterprise-user-module.ts
  packages/backend/src/app/ee/user/enterprise-user-service.ts
  packages/backend/src/app/helper/error-handler.ts
  packages/backend/test/helpers/mocks/index.ts
  packages/backend/test/integration/cloud/authn/cloud-authn.test.ts
  packages/backend/test/integration/cloud/user/enterprise-user.test.ts
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/lib/user/index.ts
  packages/shared/src/lib/user/user-dto.ts
  packages/shared/src/lib/user/user.ts
Labels: Platform, 🖥️ api

#3455 feat: release 0.15.0-rc.6
  package.json
Labels: release

#3460 chore: update piece names to match brands
  packages/pieces/clickup/package.json
  packages/pieces/clickup/src/index.ts
  packages/pieces/dropbox/package.json
  packages/pieces/dropbox/src/index.ts
  packages/pieces/github/package.json
  packages/pieces/github/src/index.ts
  packages/pieces/gitlab/package.json
  packages/pieces/gitlab/src/index.ts
  packages/pieces/gravityforms/package.json
  packages/pieces/gravityforms/src/index.ts
  packages/pieces/llmrails/package.json
  packages/pieces/llmrails/src/index.ts
  packages/pieces/monday/package.json
  packages/pieces/monday/src/index.ts
  packages/pieces/moxie-crm/package.json
  packages/pieces/moxie-crm/src/index.ts
  packages/pieces/ntfy/package.json
  packages/pieces/ntfy/src/index.ts
  packages/pieces/sendfox/package.json
  packages/pieces/sendfox/src/index.ts
  packages/pieces/square/package.json
  packages/pieces/square/src/index.ts
  packages/pieces/telegram-bot/package.json
  packages/pieces/telegram-bot/src/index.ts
  packages/pieces/tidycal/package.json
  packages/pieces/tidycal/src/index.ts
Labels: 🔌 pieces

#3459 feat(stripe): retrieve customer action
  packages/pieces/stripe/package.json
  packages/pieces/stripe/src/index.ts
  packages/pieces/stripe/src/lib/actions/retrieve-customer.ts
Labels: 🔌 pieces

#3461 fix: lint issues in activepieces platform piece
  packages/pieces/activepieces/.eslintrc.json
  packages/pieces/activepieces/README.md
  packages/pieces/activepieces/package.json
  packages/pieces/activepieces/project.json
  packages/pieces/activepieces/src/index.ts
  packages/pieces/activepieces/src/lib/actions/create-project-member.ts
  packages/pieces/activepieces/src/lib/actions/create-project.ts
  packages/pieces/activepieces/src/lib/actions/delete-project-member.ts
  packages/pieces/activepieces/src/lib/actions/list-project-member.ts
  packages/pieces/activepieces/src/lib/actions/list-project.ts
  packages/pieces/activepieces/src/lib/actions/update-project.ts
  packages/pieces/activepieces/tsconfig.json
  packages/pieces/activepieces/tsconfig.lib.json
  tsconfig.base.json
Labels: skip-changelog

#3458 feat: hide sign up link for platform, sign up are invite only
  packages/backend/src/app/authentication/authentication-service/hooks/authentication-service-hooks.ts
  packages/backend/src/app/authentication/authentication-service/hooks/community-service-hooks.ts
  packages/backend/src/app/authentication/authentication-service/index.ts
  packages/backend/src/app/ee/authentication/authentication-service/hooks/authentication-helper.ts
  packages/backend/src/app/ee/authentication/authentication-service/hooks/cloud-authentication-service-hooks.ts
  packages/backend/src/app/ee/authentication/authentication-service/hooks/enterprise-authentication-service-hooks.ts
  packages/backend/src/app/ee/flags/enterprise-flags.hooks.ts
  packages/backend/src/app/ee/project-members/project-member.service.ts
  packages/backend/src/app/flags/flag.service.ts
  packages/backend/src/app/helper/error-handler.ts
  packages/backend/test/integration/cloud/authn/cloud-authn.test.ts
  packages/backend/test/integration/ee/authn/ee-authn.test.ts
  packages/shared/package.json
  packages/shared/src/lib/common/activepieces-error.ts
  packages/shared/src/lib/flag/flag.ts
  packages/ui/feature-authentication/src/lib/pages/sign-in/sign-in.component.html
  packages/ui/feature-authentication/src/lib/pages/sign-in/sign-in.component.ts
  packages/ui/feature-authentication/src/lib/pages/sign-up/sign-up.component.html
Labels: ⭐ enhancement

#3465 feat: release 0.15.0-rc.7
  package.json
Labels: release, skip-changelog

#3469 fix(text-helper): replace all instances of found text, and make (replace) input optional
  packages/pieces/text-helper/package.json
  packages/pieces/text-helper/src/lib/actions/replace.ts
Labels: 🔌 pieces

#3474 feat: markdown actions up to date with main
  package-lock.json
  package.json
  packages/pieces/text-helper/package.json
  packages/pieces/text-helper/src/index.ts
  packages/pieces/text-helper/src/lib/actions/html-to-markdown.ts
  packages/pieces/text-helper/src/lib/actions/markdown-to-html.ts
Labels: skip-changelog

#3456 feat(discourse): add users to group / change trust level / create post / create topic / send private message actions
  packages/pieces/discourse/.eslintrc.json
  packages/pieces/discourse/README.md
  packages/pieces/discourse/package.json
  packages/pieces/discourse/project.json
  packages/pieces/discourse/src/index.ts
  packages/pieces/discourse/src/lib/actions/add-users-to-group.action.ts
  packages/pieces/discourse/src/lib/actions/change-trust-level.action.ts
  packages/pieces/discourse/src/lib/actions/create-post.action.ts
  packages/pieces/discourse/src/lib/actions/create-topic.action.ts
  packages/pieces/discourse/src/lib/actions/send-private-message.action.ts
  packages/pieces/discourse/tsconfig.json
  packages/pieces/discourse/tsconfig.lib.json
  packages/pieces/google-drive/package.json
  packages/pieces/google-drive/src/index.ts
  packages/pieces/google-drive/src/lib/action/list-files.action.ts
  tsconfig.base.json
Labels: question, 🔌 pieces

#3483 feat(Twitter): added two extra inputs to upload media and improved instructions for authentication
  packages/pieces/twitter/package.json
  packages/pieces/twitter/src/index.ts
  packages/pieces/twitter/src/lib/actions/create-tweet.ts
Labels: 🔌 pieces

#3478 feat(line): send message action / new message trigger
  packages/pieces/line/.eslintrc.json
  packages/pieces/line/README.md
  packages/pieces/line/package.json
  packages/pieces/line/project.json
  packages/pieces/line/src/index.ts
  packages/pieces/line/src/lib/actions/push-message.ts
  packages/pieces/line/src/lib/trigger/new-message.ts
  packages/pieces/line/tsconfig.json
  packages/pieces/line/tsconfig.lib.json
  tsconfig.base.json
Labels: 🔌 pieces

#3486 fix: show url when testing step instead of local path
  packages/engine/src/lib/handler/context/engine-constants-data.ts
  packages/engine/src/lib/handler/piece-executor.ts
  packages/engine/src/main.ts
  packages/engine/test/handler/test-helper.ts
Labels: 🐛 bug

#3487 feat: release 0.15.0-rc.8
  package.json
Labels: release, skip-changelog

#3488 fix(airtable): "Create record" action used to fail when there was number inputs, now it doesn't
  packages/pieces/airtable/package.json
  packages/pieces/airtable/src/lib/actions/create-record.ts
  packages/pieces/airtable/src/lib/common/index.ts
Labels: 🔌 pieces

#3493 chore: convert cloud to platform
  .github/workflows/build-cloud-image.yml
  packages/backend/.env.tests
  packages/backend/src/app/app.ts
  packages/backend/src/app/ee/appsumo/appsumo.module.ts
  packages/backend/src/app/ee/authentication/authentication-service/hooks/authentication-helper.ts
  packages/backend/src/app/ee/authentication/authentication-service/hooks/cloud-authentication-service-hooks.ts
  packages/backend/src/app/ee/authentication/authentication-service/hooks/enterprise-authentication-service-hooks.ts
  packages/backend/src/app/ee/authentication/federated-authn/authn-provider/authn-provider.ts
  packages/backend/src/app/ee/authentication/federated-authn/authn-provider/github-authn-provider.ts
  packages/backend/src/app/ee/authentication/federated-authn/authn-provider/google-authn-provider.ts
  packages/backend/src/app/ee/authentication/federated-authn/federated-authn-controller.ts
  packages/backend/src/app/ee/authentication/federated-authn/federated-authn-service.ts
  packages/backend/src/app/ee/billing/project-plan/project-plan.service.ts
  packages/backend/src/app/ee/flags/enterprise-flags.hooks.ts
  packages/backend/src/app/ee/pieces/piece-service/platform-piece-service-hooks.ts
  packages/backend/src/app/ee/projects/platform-project-service.ts
  packages/backend/src/app/flags/flag.service.ts
  packages/backend/src/app/helper/system/system-prop.ts
  packages/backend/test/helpers/mocks/index.ts
  packages/backend/test/integration/cloud/authn/cloud-authn.test.ts
Labels: 🧹 clean up

#3496 chore: minimize engine size from 1.2mb to 500kb
  package-lock.json
  package.json
  packages/engine/webpack.config.js
Labels: 🧹 clean up

#3495 [Snyk] Security upgrade axios from 1.6.2 to 1.6.3
  package.json
Labels: skip-changelog

#3497 fix(twitter): improve error messages shown when a tweet fails
  packages/pieces/twitter/package.json
  packages/pieces/twitter/src/lib/actions/create-tweet.ts
Labels: 🔌 pieces

#3492 feat(telegram-bot): Fixes for critical issues / Create Invite Link Action / Get Chat Member Action
  packages/pieces/telegram-bot/package.json
  packages/pieces/telegram-bot/src/index.ts
  packages/pieces/telegram-bot/src/lib/action/create-invite-link.ts
  packages/pieces/telegram-bot/src/lib/action/get-chat-member.ts
  packages/pieces/telegram-bot/src/lib/action/send-media.action.ts
  packages/pieces/telegram-bot/src/lib/common/index.ts
  packages/pieces/telegram-bot/src/lib/trigger/new-message.ts
Labels: 🔌 pieces

#3502 fix: update sqlite3 migration for user
  packages/backend/src/app/database/migration/1703713027818-UpdateStatusInUserSqlite.ts
  packages/backend/src/app/database/sqlite-connection.ts
Labels: skip-changelog

#3453 feat: add project info to context
  packages/engine/src/lib/handler/piece-executor.ts
  packages/engine/src/lib/helper/trigger-helper.ts
  packages/pieces/framework/package.json
  packages/pieces/framework/src/lib/context.ts
Labels: 🛠️ piece-framework

#3503 feat: stable release 0.15.0
  .github/workflows/build-cloud-image.yml
  docker-compose.yml
  package-lock.json
  package.json
Labels: release

#3507 fix: add raw link to emails incase button didn't work
  packages/backend/src/assets/emails/invitation-email.html
  packages/backend/src/assets/emails/reset-password.html
  packages/backend/src/assets/emails/verify-email.html
Labels: 🐛 bug, backend

#3511 feat(google-drive): search folder by name
  package-lock.json
  package.json
  packages/pieces/google-drive/package.json
  packages/pieces/google-drive/src/index.ts
  packages/pieces/google-drive/src/lib/action/search-folder.action.ts
Labels: 🔌 pieces

#3512 feat(airtable): fix find record bug / updated record trigger
  packages/pieces/airtable/package.json
  packages/pieces/airtable/src/index.ts
  packages/pieces/airtable/src/lib/actions/find-record.ts
  packages/pieces/airtable/src/lib/common/index.ts
  packages/pieces/airtable/src/lib/trigger/update-record.trigger.ts
Labels: 🔌 pieces

#3515 chore: update README.md
  README.md
Labels: skip-changelog

#3508 feat: add users table in platform dashboard
  packages/backend/project.json
  packages/backend/src/app/authentication/authentication-service/index.ts
  packages/backend/src/app/authentication/authentication.controller.ts
  packages/backend/src/app/database/migration/1703768553820-AddVerifiedAndChangeStatusSqlite.ts
  packages/backend/src/app/database/migration/1703769034497-AddVerifiedAndChangeStatus.ts
  packages/backend/src/app/database/postgres-connection.ts
  packages/backend/src/app/database/seeds/dev-seeds.ts
  packages/backend/src/app/database/sqlite-connection.ts
  packages/backend/src/app/ee/authentication/authentication-service/hooks/cloud-authentication-service-hooks.ts
  packages/backend/src/app/ee/authentication/federated-authn/authn-provider/github-authn-provider.ts
  packages/backend/src/app/ee/authentication/federated-authn/authn-provider/google-authn-provider.ts
  packages/backend/src/app/ee/helper/email/email-service.ts
  packages/backend/src/app/ee/managed-authn/managed-authn-service.ts
  packages/backend/src/app/ee/user/enterprise-user-controller.ts
  packages/backend/src/app/ee/user/enterprise-user-service.ts
  packages/backend/src/app/helper/error-handler.ts
  packages/backend/src/app/user/user-entity.ts
  packages/backend/src/app/user/user-service.ts
  packages/backend/test/helpers/mocks/index.ts
  packages/backend/test/integration/ce/authentication/authentication.test.ts
  packages/backend/test/integration/cloud/authn/cloud-authn.test.ts
  packages/backend/test/integration/cloud/authn/enterprise-local-authn.test.ts
  packages/backend/test/integration/cloud/managed-authn/external-token.test.ts
  packages/backend/test/integration/cloud/user/enterprise-user.test.ts
  packages/backend/test/integration/ee/authn/ee-authn.test.ts
  packages/ee/shared/src/lib/authn/enterprise-local-authn/requests.ts
  packages/ee/ui-platform/src/lib/lib.routes.ts
  packages/ee/ui-platform/src/lib/pages/pieces-table/pieces-table.component.html
  packages/ee/ui-platform/src/lib/pages/pieces-table/pieces-table.component.ts
  packages/ee/ui-platform/src/lib/pages/users-table/users-table.component.html
  packages/ee/ui-platform/src/lib/pages/users-table/users-table.component.ts
  packages/ee/ui-platform/src/lib/pages/users-table/users-table.datasource.ts
  packages/ee/ui-platform/src/lib/ui-ee-platform.module.ts
  packages/shared/package.json
  packages/shared/src/lib/common/activepieces-error.ts
  packages/shared/src/lib/user/user.ts
  packages/ui/common/src/lib/components/page-title/page-title.component.ts
  packages/ui/common/src/lib/service/platform.service.ts
  packages/ui/core/src/assets/img/custom/dashboard/users.svg
  packages/ui/core/src/assets/img/custom/reactivate.svg
  packages/ui/core/src/assets/img/custom/suspend.svg
  packages/ui/feature-authentication/src/lib/pages/sign-in/sign-in.component.html
  packages/ui/feature-authentication/src/lib/pages/sign-in/sign-in.component.ts
  packages/ui/feature-authentication/src/lib/pages/sign-up/sign-up.component.ts
  packages/ui/feature-dashboard/src/lib/components/sidenav-routes-list/sidenav-routes-list.component.ts
  tsconfig.base.json
Labels: Platform, 🌟 feature

#3516 fix: sharing flow was broken
  packages/backend/src/app/ee/flow-template/flow-template.service.ts
Labels: skip-changelog

#3517 chore: release 0.16.0-rc.1
  .github/workflows/build-cloud-image.yml
  package.json
Labels: pre-release

#3518 fix: release rc action
  .github/workflows/pre-release-changelog.yml
  .github/workflows/release-rc.yml
Labels: pre-release, skip-changelog

#3519 feat: release 0.16.0-rc.1
  .github/workflows/build-cloud-image.yml
Labels: pre-release

#3514 feat(google-docs): create document using template
  packages/pieces/google-docs/package.json
  packages/pieces/google-docs/src/index.ts
  packages/pieces/google-docs/src/lib/actions/create-document-based-on-template.action.ts
Labels: 🔌 pieces

#3524 feat(text-helper): added option to replace only first match for (replace action)
  packages/pieces/text-helper/package.json
  packages/pieces/text-helper/src/index.ts
  packages/pieces/text-helper/src/lib/actions/replace.ts
Labels: 🔌 pieces

#3520 test: simple flow test for worker
  .github/workflows/build-cloud-nx.yml
  Dockerfile
  packages/backend/.env.tests
  packages/backend/project.json
  packages/backend/test/helpers/mocks/index.ts
  packages/backend/test/integration/ce/flows/flow-worker.test.ts
  packages/engine/project.json
Labels: 💻 tech debt

#3490 refactor: authorization middleware
  packages/backend/.env.tests
  packages/backend/src/app/app.ts
  packages/backend/src/app/authentication/authorization.ts
  packages/backend/src/app/core/request/request-utils.ts
  packages/backend/src/app/core/security/authn/access-token-authn-handler.ts
  packages/backend/src/app/core/security/authn/anonymous-authn-handler.ts
  packages/backend/src/app/core/security/authn/global-api-key-authn-handler.ts
  packages/backend/src/app/core/security/authn/platform-api-key-authn-handler.ts
  packages/backend/src/app/core/security/authz/principal-type-authz-handler.ts
  packages/backend/src/app/core/security/authz/project-authz-handler.ts
  packages/backend/src/app/core/security/security-handler-chain.ts
  packages/backend/src/app/core/security/security-handler.ts
  packages/backend/src/app/ee/authentication/authentication-service/hooks/authentication-helper.ts
  packages/backend/src/app/ee/pieces/admin-piece-requests.ee.ts
  packages/backend/src/app/ee/platform/admin-platform.controller.ts
  packages/backend/src/app/helper/error-handler.ts
  packages/backend/test/integration/cloud/authn/cloud-authn.test.ts
  packages/backend/test/integration/cloud/core/security.test.ts
  packages/backend/test/integration/cloud/flow-templates/flow-templates.test.ts
  packages/backend/test/integration/cloud/project-members/project-members.test.ts
  packages/backend/test/integration/ee/authn/ee-authn.test.ts
  packages/shared/package.json
  packages/shared/src/lib/authentication/model/principal-type.ts
  packages/shared/src/lib/common/activepieces-error.ts
  packages/shared/src/lib/common/utils/object-utils.ts
  packages/ui/feature-authentication/src/lib/pages/sign-in/sign-in.component.ts
Labels: backend, 🔒 security

#3525 chore: enforce license limits
  packages/backend/src/app/ee/authentication/authentication-service/hooks/enterprise-authentication-service-hooks.ts
  packages/backend/src/app/ee/helper/license-validator/index.ts
  packages/backend/src/app/ee/helper/license-validator/license-validator.ts
  packages/backend/src/app/ee/helper/license-validator/network-license-validator.ts
  packages/backend/src/app/ee/helper/license-validator/no-op-license-validator.ts
  packages/backend/src/app/ee/platform/platform.service.ts
  packages/backend/src/main.ts
Labels: backend, ☁️ Paid Feature
