Repository activepieces/activepieces, pull requests merged in 2023-05, with the labels that each got.

#997 feat: add notification settings
  docs/install/configurations.mdx
  packages/backend/src/app/database/database-connection.ts
  packages/backend/src/app/database/migration/1680563747425-add-notifications-status.ts
  packages/backend/src/app/helper/notifications.ts
  packages/backend/src/app/project/project.controller.ts
  packages/backend/src/app/project/project.entity.ts
  packages/backend/src/app/project/project.service.ts
  packages/backend/src/app/workers/flow-worker/flow-queue-consumer.ts
  packages/ee/billing/backend/usage.service.ts
  packages/ee/firebase-auth/frontend/email-verification/firebase-email-verification.component.html
  packages/ee/firebase-auth/frontend/sign-in/firebase-sign-in.component.ts
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/lib/common/activepieces-error.ts
  packages/shared/src/lib/project/project.ts
  packages/shared/src/lib/project/update-project-request.ts
  packages/ui/common/src/index.ts
  packages/ui/common/src/lib/service/project.service.ts
  packages/ui/common/src/lib/store/project/project.action.ts
  packages/ui/common/src/lib/store/project/project.effects.ts
  packages/ui/common/src/lib/store/project/project.reducer.ts
  packages/ui/common/src/lib/store/project/project.selector.ts
  packages/ui/core/src/app/guards/user-logged-in.guard.ts
  packages/ui/core/src/app/modules/common/common-layout.module.ts
  packages/ui/core/src/app/modules/flow-builder/resolvers/connections.resolver.ts
  packages/ui/feature-authentication/src/lib/pages/sign-in/sign-in.component.ts
  packages/ui/feature-dashboard/src/lib/pages/connections-table/connections-table.component.ts
  packages/ui/feature-dashboard/src/lib/pages/connections-table/connections-table.datasource.ts
  packages/ui/feature-dashboard/src/lib/pages/runs-table/runs-table.component.html
  packages/ui/feature-dashboard/src/lib/pages/runs-table/runs-table.component.ts
  packages/ui/feature-dashboard/src/lib/pages/runs-table/runs-table.datasource.ts
Labels: frontend

#1229 Fix: project notify status not null
  packages/backend/src/app/database/database-connection.ts
  packages/backend/src/app/database/migration/1683458275525-project-notify-status-not-null.ts
  packages/backend/src/app/project/project.service.ts
Labels: 🐛 bug, backend

#1245 feat: pause and resume flow runs
  .gitignore
  .vscode/launch.json
  docs/contributing/architecture/flow-worker.mdx
  packages/backend/src/app/database/database-connection.ts
  packages/backend/src/app/database/migration/1683552928243-flow-run-pause-metadata.ts
  packages/backend/src/app/flows/flow-run/flow-run-controller.ts
  packages/backend/src/app/flows/flow-run/flow-run-entity.ts
  packages/backend/src/app/flows/flow-run/flow-run-service.ts
  packages/backend/src/app/flows/flow-run/flow-run-side-effects.ts
  packages/backend/src/app/helper/engine-helper.ts
  packages/backend/src/app/helper/trigger-utils.ts
  packages/backend/src/app/webhooks/webhook-service.ts
  packages/backend/src/app/workers/flow-worker/flow-queue-consumer.ts
  packages/backend/src/app/workers/flow-worker/flow-queue.ts
  packages/backend/src/app/workers/flow-worker/flow-worker.ts
  packages/backend/src/app/workers/flow-worker/job-data.ts
  packages/engine/src/lib/action/branch-action-handler.ts
  packages/engine/src/lib/action/loop-action-handler.ts
  packages/engine/src/lib/executors/flow-executor.ts
  packages/engine/src/main.ts
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/lib/common/activepieces-error.ts
  packages/shared/src/lib/engine/engine-operation.ts
  packages/shared/src/lib/flow-run/execution/execution-output.ts
  packages/shared/src/lib/flow-run/execution/execution-state.ts
  packages/shared/src/lib/flow-run/execution/execution-type.ts
  packages/shared/src/lib/flow-run/flow-run.ts
Labels: ⭐ enhancement, backend

#1348 Feat: pieces context hooks
  docker-compose.dev.yml
  packages/engine/src/lib/action/action-handler.ts
  packages/engine/src/lib/action/branch-action-handler.ts
  packages/engine/src/lib/action/code-action-handler.ts
  packages/engine/src/lib/action/loop-action-handler.ts
  packages/engine/src/lib/action/piece-action-handler.ts
  packages/engine/src/lib/executors/flow-executor.ts
  packages/engine/src/lib/helper/piece-helper.ts
  packages/engine/src/lib/helper/trigger-helper.ts
  packages/pieces/framework/package.json
  packages/pieces/framework/src/lib/context.ts
  packages/shared/package.json
  packages/shared/src/lib/flow-run/execution/execution-output.ts
  packages/shared/src/lib/flow-run/execution/step-output.ts
Labels: ⭐ enhancement, backend

#1375 Fix task count
  packages/engine/src/lib/action/code-action-handler.ts
  packages/engine/src/lib/action/piece-action-handler.ts
  packages/engine/src/lib/executors/flow-executor.ts
  packages/engine/src/lib/globals.ts
  packages/shared/package.json
  packages/shared/src/lib/flow-run/execution/execution-state.ts
Labels: 🐛 bug, backend

#1378 fix: test flow
  packages/backend/src/app/file/file.service.ts
  packages/backend/src/app/flows/flow-run/flow-run-service.ts
  packages/backend/src/app/flows/flow-version/flow-version.service.ts
  packages/backend/src/app/workers/flow-worker/flow-worker.ts
  packages/engine/src/lib/action/branch-action-handler.ts
  packages/engine/src/lib/executors/flow-executor.ts
  packages/pieces/framework/package.json
  packages/pieces/framework/src/lib/context.ts
  packages/shared/package.json
  packages/shared/src/lib/flow-run/execution/execution-output.ts
  packages/shared/src/lib/flow-run/execution/step-output.ts
  packages/shared/src/lib/flow-run/flow-run.ts
Labels: 🐛 bug, backend
